extends ../includes/layout

block content
    h1 Delete platform?

    div
        form.column(method='post')

            .framed.warning
                p
                    | Are you sure you want to delete the following platform? This is irrecoverable! Any assignments using this platform, and all their submissions will be removed! (id: #{delete_platform.platform.id})
            div
                .row
                    a.button(
                        href=router.path.platform(delete_platform.platform).url
                        value='Delete'
                    )
                        | Cancel
                    input(type='submit' value='Delete' name='delete')

    h2 #{delete_platform.platform.name}

    .framed.markdown
        p!= utils.parse_markdown(delete_platform.description)