extends ../includes/layout

block content
    h1 Edit platform
    div
        form.column(method='post' action=edit_platform.submit_url)
            if edit_platform.did_perform_update
                .framed
                    p
                        | This platform has been successfully updated.
            if edit_platform.parse_errors.length > 0
                .framed.error
                    p
                        each error in edit_platform.parse_errors
                            | #{error}
                            br
            if edit_platform.show_change_id_warning
                .framed.warning
                    p
                        | You are changing the unique identifier of the course. This requires manual modifications to the testserver configuration. Please submit again to apply this change.
                input(
                    type='hidden' name='ignore_warning'
                    value=edit_platform.previous_input.platform_id
                )
            div
                .row
                    label Unique identifier:
                    label Title:
                .row
                    input.min_width_off(
                        name='platform_id'
                        type='number'
                        placeholder='unique id'
                        value=edit_platform.previous_input.platform_id
                        tite='An integral unique identifier for this platform.'
                        pattern='\d+'
                        autofocus
                        required
                    )
                    input.min_width_off(
                        name='name'
                        type='text'
                        placeholder='name'
                        value=edit_platform.previous_input.name
                        required
                        maxlength=100
                    )

            .row
                label Description:
            .row
                textarea(
                    name='description'
                    autocomplete='off'
                    placeholder='Provide a description of the platform. This should include instructions on what kind of file the user is required to submit.'
                    rows='10'
                    maxlength=5000
                )
                    | #{edit_platform.previous_input.description}

            div
                .row
                    input(
                        name='save_edits'
                        type='submit'
                        value='Save Edits'
                    )