extends ../includes/layout

block content
    h1 #{show_platform.name}

    if show_platform.can_edit
        div
        .row
            a.button(href=show_platform.edit_url) Edit Platform
            a.button.bad(href=show_platform.delete_url) Delete Platform

    .framed.markdown
        p!= utils.parse_markdown(show_platform.description)