extends ../includes/layout

block content
    h1 Platforms

    if platform_list.can_edit
        div
            .row
                a.button(href=router.path.super_add_platform().url) Add new platform
    .framed
        p
            | Click on a platform below to go to the manual page for that platform.

        -if (platform_list.platforms.length > 0)
            ul
                each platform in platform_list.platforms
                    li
                        a(href=router.path.platform(platform).url)
                            | #{platform.name}
        -else
            .row
                .framed
                    p No platforms