extends ../includes/layout

block content
    h1 Add platform
    div
        form.column(method='post')
            if new_platform.parse_errors.length > 0
                .framed.error
                    p
                        each error in new_platform.parse_errors
                            | #{error}
                            br
            div
                .row
                    label Unique identifier:
                    label Title:
                .row
                    input.min_width_off(
                        name='platform_id'
                        type='number'
                        placeholder='unique id'
                        value=new_platform.previous_input.platform_id
                        tite='An integral unique identifier for this platform.'
                        pattern='\d+'
                        autofocus
                        required
                    )
                    input.min_width_off(
                        name='name'
                        type='text'
                        placeholder='name'
                        value=new_platform.previous_input.name
                        required
                        maxlength=100
                    )

            .row
                label Description:
            .row
                textarea(
                    name='description'
                    autocomplete='off'
                    placeholder='Provide a description of the platform. This should include instructions on what kind of file the user is required to submit.'
                    rows='10'
                    maxlength=5000
                )
                    | #{new_platform.previous_input.description}

            div
                .row
                    input(
                        name='submit'
                        type='submit'
                        value='Save new platform'
                    )