p
| Go to 
a(href=reset_link) #{reset_link}
|  to complete your password reset.

p
| Watch out! The above link will expire in #{expire_time} hours. A new link can be requested at 
a(href=reset_request_link) #{reset_request_link}
|.

p
| Your token is: #{reset_token}.

p If you did not request this email, simply ignore it.