p Your submission for the assignment #{assignment_name} has been received and will be graded shortly.

p
| The status of your submission can be viewed at 
a(href=submission_link) #{submission_link}
|.