@color_neutral_test: #7fa7c7;
@color_no_test: #AAAAAA;
@color_pending_test: #F5FA99;
@color_success_test: #8CFD92;
@color_failed_test: #FF7E82;

.assignment {
    flex: 0 1;
    display: flex;
    flex-flow: row nowrap;
    padding: 0;
    min-width: 50%;

    > * {
        text-decoration: none;
    }

    //- fix padding on small width
    .submissions_seen_by_teacher_div {
        flex-flow: row wrap;
        display: flex;
        flex: 1;
        >* {
            margin: 0 0.25rem 0.5rem 0;
            line-height: 1rem;
            height: 4.5rem;
            line-height: 2rem;
        }

        .name {
            font-weight: bold;
            font-size: 1.5rem;
            flex: 1 0 content;
            min-width: 50%;
        }

        .status {
            flex: 1 0 18rem;
        }

        .result {
            flex: 1 0 6rem;
        }

        .history_button {
            a {
                display: block;
                flex: none;
                font-size: 1.5rem;
                justify-content: center;
                text-align: center;
                text-decoration: none;
                background-color: @button_color;
                color: @black;
                padding: 0.5rem 0.5rem 0 0.5rem;
                box-shadow: 2px 2px 3px 3px @shadow;
                border: 1px solid @button_border;
                img {
                    height: 3.5rem;
                    width: 3.5rem;
                }
            }
            a:hover {
                background-color: darken(@button_color, @hover_percent);
                box-shadow: 2px 2px 3px 3px darken(@shadow, @hover_percent);
            }
        }

        .assignment-date_mini {
            flex: none;
            font-size: 2rem;
            height: 4.5rem;
            width: 4.5rem;
            border: 1px solid @black;

            box-shadow: 2px 2px 3px 3px @shadow;
            &:hover {
                box-shadow: 2px 2px 3px 3px darken(@shadow, @hover_percent);
            }
        }
    }
    .assignment-date_small {
        flex: none;
        font-size: 2rem;
        height: 5rem;
        width: 5rem;
        margin: 0.5rem 0 0.5rem 0.25rem;
        border: 1px solid @black;

        box-shadow: 2px 2px 3px 3px @shadow;
        &:hover {
            box-shadow: 2px 2px 3px 3px darken(@shadow, @hover_percent);
        }
    }
    .assignment-date {
        flex: none;
        text-align: center;
        font-size: 2.55rem;
        line-height: 3.5rem;
        height: 7rem;
        width: 7rem;
        margin: 0.5rem 0 0.5rem 0.25rem;
        border: 1px solid @black;

        box-shadow: 2px 2px 3px 3px @shadow;
        &:hover {
            box-shadow: 2px 2px 3px 3px darken(@shadow, @hover_percent);
        }
    }
    .assignment-info_small {
        flex: 1;
        display: flex;
        overflow-x: auto;
        margin: 0.5rem 0.25rem 0.5rem 0;
        background-color: @white;

        *> {
            flex: 1;
            white-space: nowrap;
        }

        .assignment {
            margin: 0.5rem 0.5rem 0.5rem 1rem !important;

            a {
                flex: none;
                font-weight: bold;
                font-size: 2rem;
                text-decoration: underline;
            }
        }
    }
    .assignment-info {
        flex: 1;
        overflow-x: auto;
        margin: 0.5rem 0.25rem 0.5rem 0;
        padding: 1rem 0.5rem;
        background-color: @white;

        *> {
            white-space: nowrap;
        }

        a {
            margin: 0 1rem;
            font-weight: bold;
            font-size: 2rem;
        }
    }
    .course-state-container {
        .course {
            float: left;

            a {
                font-weight: normal;
                font-size: 1rem;
            }
        }

        .state {
            float: right;
            padding: 1rem 0.5rem 0 0;
        }
    }
    .default-test {
        background-color: @color_neutral_test;
        &:hover {
            background-color: darken(@color_neutral_test, @hover_percent);
        }
    }
    .no-test {
        background-color: @color_no_test;
        &:hover {
            background-color: darken(@color_no_test, @hover_percent);
        }
    }
    .pending-test {
        background-color: @color_pending_test;
        &:hover {
            background-color: darken(@color_pending_test, @hover_percent);
        }
    }
    .passed-test {
        background-color: @color_success_test;
        &:hover {
            background-color: darken(@color_success_test, @hover_percent);
        }
    }
    .failed-test {
        background-color: @color_failed_test;
        &:hover {
            background-color: darken(@color_failed_test, @hover_percent);
        }
    }
}

#main-content > div.assignment {
    margin-bottom: 0.25rem;
}
