@color_code: rgb(231, 246, 246);
#main-content .markdown {
    h1,
    h2,
    h3,
    h4 {
        padding: 0;
    }
    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1rem;
    }
    h3 {
        font-size: 0.75rem;
    }
    pre {
        background-color: @color_code;
        padding: 0;
        margin: 0;
        code {
            background-color: @color_code;
            font-family: "DejaVu Sans Mono", monospace;
        }
    }
    p {
        margin: 0.5rem 0.25rem;
    }

    .katex-html {
        display: none;
    }
}