@page-minimum-width: 20rem;
@content-minimum-padding: 1.5rem;
@content-padding: 2rem;
@content-minimum-inner-width: calc(@page-minimum-width - @content-minimum-padding);
@error_color: #FF7E82;
@warning_color: #ffde71;
@background_color: #72674b;
@header_color: #406b8e;
@navigation_color: #7fa7c7;
@white: #FFFFFF;
@button_color: #FFFFFF;
@button_border: #666;
@shadow: #CCCCCC;
@black: #000000;
@content_color: #e8f1d0;
@hover_percent: 4%;
* {
    box-sizing: border-box;
}

html,
body {
    padding: 0;
    margin: 0;
    min-width: @page-minimum-width;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "DejaVu Sans", sans-serif;
    background-color: @background_color;
}

body {
    height: 100%;
}

a {
    color: inherit;
}

#header-bar {
    width: 100%;
    background-color: @header_color;
    font-family: "DejaVu Sans Mono", monospace;
    color: @white;
    line-height: 5rem;
    font-size: 3rem;
    a {
        text-decoration: none;
    }
}

#navigation-bar {
    width: 100%;
    background-color: @navigation_color;
    color: @white;
    line-height: 2rem;
    font-size: 1rem;
    .inner-content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        .navigation {
            flex: 1 0;
        }
        .login-status {
            padding-left: 1rem;
            flex: 0 0;
            text-align: right;
            white-space: nowrap;
            line-height: 2rem;
            height: 2rem;
        }
    }
}

.content {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: @content-padding;
    padding-right: @content-padding;
    @media (max-width: 50rem) {
        padding-left: @content-minimum-padding;
        padding-right: @content-minimum-padding;
        width: 100vw;
    }
}

#main-content {
    display: flex;
    flex-flow: column nowrap;
    background-color: @content_color;
    flex: 1;
    padding: calc(@content-padding - 1rem);
    >* {
        margin: 0.5rem;
    }
    @media (max-width: 50rem) {
        padding: calc(@content-minimum-padding - 0.5rem);
        >* {
            margin: 0.25rem;
            min-width: calc(@page-minimum-width - @content-minimum-padding);
        }
    }
    h1 {
        font-size: 2rem;
        padding: 0;
        padding-left: 0.5rem;
        margin: 0;
        margin-top: 1rem;
    }
    h2 {
        font-size: 1.25rem;
        padding: 0;
        padding-left: 0.3rem;
        margin: 0;
        margin-top: 0.65rem;
    }
    a.button {
        display: block;
        height: 3rem;
        flex: 1 1 20rem;
        line-height: 2.5rem;
        font-size: 1.5rem;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        background-color: @button_color;
        color: @black;
        padding: calc(@inner-padding / 2);
        box-shadow: 2px 2px 3px 3px @shadow;
        border: 1px solid @button_border;
        &:hover {
            background-color: darken(@button_color, @hover_percent);
            box-shadow: 2px 2px 3px 3px darken(@shadow, @hover_percent);
        }
    }
}

textarea {
    resize: vertical;
    padding: 0.25rem;
}

input,
select {
    min-width: 75%;
}

input {
    flex: 1 1;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 0.25rem;
}

input[type="file"] {
    padding: 0;
    margin: 0.5rem;
}

input.login {
    flex: 5 0 auto;
}

input[type="submit"].login {
    flex: 1 0 10vw;
    height: 3.25rem;
}

.login_row {
    display: flex;
    flex-direction: row;
    a {
        flex: 0 0;
        text-align: right;
        white-space: nowrap;
    }
    div {
        flex: 1 0;
    }
}

.framed {
    padding: 0.5rem 0.75rem;
    flex: 0 1;
    background-color: @white;
    margin-bottom: 1rem;
    .description pre {
        padding: 0;
        margin: 0;
        font-family: "DejaVu Sans", sans-serif;
    }
    p {
        margin: 0.5rem 0.25rem;
    }
}

.framed.content_unaware {
    flex: 1 1;
}

.framed.error {
    background-color: @error_color;
}

.framed.warning {
    background-color: @warning_color;
}

.table {
    flex-flow: row wrap;
    display: flex;
    margin: -0.125rem;
    .cell {
        background-color: @white;
        flex: 1;
        margin: 0.25rem;
        padding: 1rem;
        .title {
            font-weight: bold;

            a {
                font-weight: normal;
            }
        }
    }
}

.tests {
    display: block;
}

.two-column-table {
    margin: 0.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0.25rem;
    padding: 1rem 1.5rem;
    width: calc(50% - 1rem);
    background-color: @white;
    float: left;
}

.assignments-container,
.latest_submissions-container {
    display: flex;
    flex-flow: row wrap;

    > .assignment {
        flex: 1 1 content;
    }
}

.most {
    flex: 1 1 62rem !important;
    min-width: auto;
}

.least {
    flex: 1 1 24rem !important;
}

.min_width_off {
    min-width: auto !important;
}

@import "assignment.less";
@import "table.less";
@import "markdown.less";