@inner-padding: 0.5rem;
.row {
    flex-flow: row wrap;
}

.column {
    flex-flow: column nowrap;
}

#main-content {
    .column,
    .row {
        display: flex;
        margin: 0.5rem 0;
        >* {
            margin: 0.1rem;
            flex: 1 1;
        }
        form {
            display: flex;
            flex-flow: row wrap;
            >* {
                margin: 0.1rem;
                flex: 1 0;
            }
        }
        label {
            margin-top: 0.5rem;
        }
        [type="submit"] {
            flex: 1 1 20rem;
            max-height: 3rem;
            background-color: @button_color;
            box-shadow: 2px 2px 3px 3px @shadow;
            border: 1px solid @button_border;
            color: @black;
            font-family: "DejaVu Sans", sans-serif;
            &:hover {
                box-shadow: 2px 2px 3px 3px darken(@shadow, @hover_percent);
                cursor: pointer;
            }
        }
        .small {
            flex: 0 1;
            min-width: 1.5rem !important;
            height: 1.5rem;
            align-self: center;
        }
        [type="date"] {
            flex: 2 2;
        }
        [type="date"],
        [type="checkbox"],
        [type="radio"],
        [type="time"],
        [type="submit"] {
            text-align: center;
            min-width: 0;
        }
        a.bad,
        input[type="submit"].bad {
            min-width: 0;
            background-color: @error_color;
            &:hover {
                background-color: darken(@error_color, @hover_percent);
                box-shadow: 2px 2px 3px 3px darken(@shadow, @hover_percent);
            }
        }
        a.course {
            font-size: 1.5rem;
            flex: none;
            margin: 1rem;
            height: 1rem;
        }
        img {
            height: 3rem;
            width: 3rem;
            flex: none;
        }
    }
    .column.no_expand {
        max-height: 5rem;
    }
    .row.no_expand {
        max-width: 39rem;
    }
}