extends includes/layout
include includes/assignment_banner

//-
    A page for a student to post a submission.

    # Variables



block content
    //- TODO: Give latest submission.
    +assignment_banner(null, add_submission.assignment, add_submission.course)

    h1 Post Submission

    div
        form.column(method='post' enctype='multipart/form-data')

            -if (add_submission.errors.length > 0)
                .framed.error
                    p
                        each error in add_submission.errors
                            | #{error}
                            br

            .framed
                p
                    | Select a file to submit to the assignment.
                    br
                    | Make sure to select the correct platform. Selecting the wrong platform will result in the submission failing every test.

            div
                .row
                    .framed
                        input(
                            name='submit_submission'
                            type='file'
                            value='Add submission'
                            required
                        )

                    .framed
                        each platform, index in add_submission.platforms
                            div
                                -if (index === 0)
                                    input(
                                        type='radio'
                                        name='platform'
                                        value=platform.id
                                        checked
                                        required
                                    )
                                -else
                                    input(
                                        type='radio'
                                        name='platform'
                                        value=platform.id
                                        required
                                    )
                                label
                                    | #{platform.name}
                                    | [
                                    a(target='_blank' href=router.path.platform(platform).url) info
                                    | ]
            input(
                name='submit_submission'
                type='submit'
                value='Add submission'
            )
