extends includes/layout
include includes/assignment_banner.pug
include includes/submission_seen_by_teacher.pug
include includes/submission_banner.pug

block content
    h1 Assignment
    each error in errors
        .framed.error #{error}
    each warning in warnings
        .framed.warning #{warning}

    -if (permissions.page_as_teacher)
        +assignment_banner(
            null,
            assignment_info.assignment_view,
            assignment_info.course
        )
    -else
        +assignment_banner(
            assignment_info.most_recent_submission_for_student,
            assignment_info.assignment_view,
            assignment_info.course
        )

    .framed.markdown
        p!= utils.parse_markdown(assignment_info.assignment.description)

    .framed
        .table
            .cell
                p
                    span.title
                        | Submit by: 
                    | #{utils.date_to_strings(assignment_info.assignment.deadline).utc_string}
                p
                    span.title
                        | Maximum preparation time: 
                    | #{assignment_info.assignment.compile_time_max} min.
                p
                    span.title
                        | Maximum time per test: 
                    | #{assignment_info.assignment.run_time_max} min.

            .cell
                .title Accepted platforms:
                ul
                    each platform in assignment_info.platforms
                        li
                            a(href=router.path.platform(platform).url)
                                | #{platform.name}


    div
        form.row(method='POST')
            -if (permissions.page_as_student)
                a.button(href=router.path.add_submission(assignment_info.course, assignment_info.assignment).url
                )
                    | New submission
            -if (permissions.can_edit_assignment)
                a.button(href=assignment_info.assignment_view.overview_path.url + '/edit_assignment') Edit assignment
                input(
                    name='download_assignment'
                    type='submit'
                    value='Download assignment'
                    )
            -if (permissions.can_delete_assignment)
                input.bad(
                    name='delete_assignment'
                    type='submit'
                    value='Delete assignment'
                    )

    -if (assignment_info.submission_statuses_for_teacher)
        h1 Submissions
        -if (assignment_info.submission_statuses_for_teacher.length > 0)
            each s in assignment_info.submission_statuses_for_teacher
                +submission_seen_by_teacher(s.student, s.assignment, s.submission, s.history_path)
        -else
            .row
            .framed
                    p No students

    -if (assignment_info.submissions_for_student)
        h1 My Submissions
        -if (assignment_info.submissions_for_student.length > 0)
            .latest_submissions-container
                each s in assignment_info.submissions_for_student
                    +submission_banner(s.submission, s.assignment)
        -else
            .row
                .framed
                    p No submissions

    h1 Examples
    .table.tests
        .row
            label Input:
            label Output:

        each test in assignment_info.example_tests
            .row
                .framed
                    pre #{test.input}
                br
                .framed
                    pre #{test.output}
                br

    -if (permissions.page_as_teacher)
        h1 Final Tests
        .table.tests
            .row
                label Input:
                label Output:

            each test in assignment_info.final_tests
                .row
                    .framed
                        pre #{test.input}
                    br
                    .framed
                        pre #{test.output}
                    br