extends includes/layout
include includes/assignment_banner.pug

block content

    h1 Assignments
    .assignments-container
        each assignment, index in course_info.assignments
            +assignment_banner(course_info.latest_submissions[index], assignment, course_info.course)

    div
        form(method='POST').row
            -if (permissions.can_create_assignment)
                a.button(href=router.path.new_assignment(course_info.course).url) Create new assignment
            -if (permissions.can_edit_course)
                a.button(href=router.path.edit_course(course_info.course).url) Edit course

            -if (user.can_delete_course())
                    input.bad(
                        name='delete_course'
                        type='submit'
                        value='Delete course'
                    )

    h1 Teachers
    #teachers-container
        -if (course_info.teachers.length > 0)
            each teacher in course_info.teachers
                .two-column-table
                    a(href=router.path.profile_page(teacher).url) #{teacher.name}
        -else
            .row
                .framed
                    p No teachers

    -if (permissions.can_manage_teachers)
        div
            .row
                a.button(href=router.path.manage_user(course_info.course, "teacher").url) Manage teachers

    h1 Students
    #students-container
        -if (course_info.students.length > 0)
            each student in course_info.students
                .two-column-table
                    a(href=router.path.profile_page(student).url) #{student.name}
        -else
            .row
                .framed
                    p No students

    -if (permissions.can_manage_students)
        div
            .row
                a.button(href=router.path.manage_user(course_info.course, "student").url) Manage students
