extends includes/layout

include includes/show_errors.pug

block content

    if (new_assignment)
        h1 Create a new assignment
    else
        h1 Edit assignment

    div
        +show_errors(validation_errors)

        div
            .framed
                form.row(method='POST' enctype='multipart/form-data')
                    input(
                        name='import_assignment'
                        type='file'
                        value='Add submission'
                        required
                    )
                    input(
                        name='import_btn'
                        type='submit'
                        value='Import assignment'
                    )

        form.column(method='POST')
            label Title:
            input(
                name='title'
                type='text'
                placeholder='title'
                value=previous_input.title
                autofocus
                required
            )
            label Description:
            textarea(
                name='description'
                autocomplete='off'
                placeholder='Provide a description of the assignment.'
                rows='10'
            )
                | #{previous_input.description}

            label Deadline (GMT):
            div
                .row
                    input(
                        name='deadline_date'
                        type='date'
                        required
                        placeholder='yyyy-mm-dd'
                        value=previous_input.deadline_date
                    )
                    input(
                        name='deadline_time'
                        type='time'
                        placeholder='hh:mm'
                        value=previous_input.deadline_time
                        required
                    )

            h2 Program constraints
            .row
                label Allowed platforms:
            .row
                .framed
                    each platform in platforms
                        div
                            -if (previous_input.platforms.includes(platform.id))
                                input(name='platforms[]' type='checkbox' value=platform.id checked)
                            -else
                                input(name='platforms[]' type='checkbox' value=platform.id)
                            label
                                | #{platform.name}
                                | [
                                a(target='_blank' href=router.path.platform(platform).url) info
                                | ]

            .row
                .column
                    label Maximum compilation time:
                    .row
                        input(
                            name='max_compilation_time'
                            type='number'
                            placeholder='min.'
                            min=0
                            value=previous_input.max_compilation_time
                            required
                        )
                .column
                    label Maximum running time per test:
                    .row
                        input(
                            name='max_test_time'
                            type='number'
                            placeholder='min.'
                            min=0
                            value=previous_input.max_test_time
                            required
                        )

            h2 Example tests:

            .column
                .row
                    label Input:
                    label Output:
                #example_test_IO
                    for test, index in previous_input.example_tests
                        .row.framed
                            textarea(
                                name='example_test_inputs[]'
                                value=test.input
                                wrap='off'
                                rows='2'
                            ) #{test.input}
                            textarea(
                                name='example_test_outputs[]'
                                value=test.output
                                wrap='off'
                                rows='2'
                            ) #{test.output}
                            button.small(
                                name='remove_example_test'
                                type='submit'
                                value=index+1
                            ) -
                    
                input(
                    id=index
                    name='add_example_test'
                    type='submit'
                    value = "Add example test"
                )

            h2 Final tests:

            .column
                .row
                    label Input:
                    label Output:
                #final_test_IO
                    for test, index in previous_input.final_tests
                        .row.framed
                            textarea(
                                name='final_test_inputs[]'
                                value=test.input
                                wrap='off'
                                rows='2'
                            ) #{test.input}
                            textarea(
                                name='final_test_outputs[]'
                                value=test.output
                                wrap='off'
                                rows='2'
                            ) #{test.output}
                            button.small(
                                name='remove_final_test'
                                type='submit'
                                value=index+1
                            ) -
                input(
                    name='add_final_test'
                    type='submit'
                    value = "Add final test"
                )

            h2 Submit new assignment
            .framed
                p Don't forget to double check if you filled in all data correctly!

            - let btn_text = 'Create new assignment';
            if (!new_assignment)
                - btn_text = 'Save changes';

            input(
                name='create_btn'
                type='submit'
                value=btn_text
            )
    
    script(src='/js/add_and_remove_tests.js', type='text/javascript')