extends includes/layout
include includes/assignment_banner.pug
include includes/submission_banner.pug

block content
    -if (user.can_access_superpanel)
        h1 Super Panel
        div
            .row
                a.button(href=router.path.super_panel().url) Super panel

    h1 Upcoming Assignments
    -if (dashboard.errors.length > 0)
        .framed.error
            p
                each error in dashboard.errors
                    | #{error}
                    br

    -if (dashboard.next_n_assignments.length > 0)
        .assignments-container
            each ass_sub in dashboard.next_n_assignments
                +assignment_banner(ass_sub.submission, ass_sub.assignment, ass_sub.course)
    -else
        .framed
            p No upcoming assignments.

    -if (dashboard.courses.length > 0)
        .framed
            form.row(method="POST")
                select(name="course_picker" required)
                    option(value="" selected) Select a course
                    each course in dashboard.courses
                        option(value=course.id) #{course.name}-#{course.id}
                input(
                    name='new_assignment'
                    type='submit'
                    value='New assignment'
                )

    h1 Latest Submissions
    -if (dashboard.latest_submissions.length > 0)
        .latest_submissions-container
            each sub_ass in dashboard.latest_submissions
                +submission_banner(sub_ass.submission, sub_ass.assignment)
    -else
        .framed
            p No recent submissions