extends ./includes/layout

block content
    h1 Delete submission?

    div
        form.column(method='post')

            .framed.warning
                p
                    | Are you sure you want to delete this submission? It cannot be recovered!
            div
                .row
                    a.button(
                        href=submission_page
                        value='Delete'
                    )
                        | Cancel
                    input(type='submit' value='Delete' name='delete')
