extends ./includes/layout

block content
    h1 Edit course

    -if (validation_errors.length > 0)
        .framed.error
            p
                each error in validation_errors
                    | #{error}
                    br

    .framed
        p Provide the course's name in the textbox below.

    div 
        form.row(method='post')
            input(
                name='course_name'
                type='text'
                minlength=1
                maxlength=200
                placeholder='name'
                value=previous_input.course_name
                required autofocus
            )
            input(
                name='submit'
                type='submit'
                value='Edit'
            )
