extends includes/layout

block content
    h1 Login
    -if (login.login_errors.length > 0)
        .framed.error
            p
                each error in login.login_errors
                    | #{error}
                    br

    form.row(method='post')
        .row
            input.login(
                name='login_email'
                type='text'
                autocomplete='email'
                placeholder='email'
                value=previous_input.email
                required autofocus
            )
        .row
            input.login(
                name='login_password'
                type='password'
                autocomplete='current-password'
                placeholder='password'
                required
            )
        .row
            input.login(
                name='login'
                type='submit'
                value='Login'
            )
    .login_row
        div
        a(href=router.path.password_reset_request().url) Forgot your password?