extends includes/layout
include includes/assignment_banner.pug

block content

    div
        form.column(id="manage_users_form" method='POST')
            -if (user_type === "student")
                h1 Find Students
            -else
                h1 Find Teachers

            -if (errors.validation_errors.length > 0)
                .framed.error
                    p
                        each error in errors.validation_errors
                            | #{error}
                            br

            #search_bar
                .row
                    input(
                        name='search_input'
                        type='text'
                        value=previous_input.search_input
                        placeholder= 'user name'
                    )
                    input(
                        name='search_btn'
                        type='submit'
                        value='Search'
                    )

            -if (previous_input.search_input !== "")

                h1 Results (#{results.length})

                -if (results.length === 0)
                    .framed No users found.

                #results_container
                    .column
                        each result, index in results
                            .row
                                .framed.most #{result.name} &lt;#{result.email}&gt;
                                button.least.min_width_off(
                                    name='add_btn'
                                    type='submit'
                                    value=result.id
                                ) Add

            -if (user_type === "student")
                h1 Manage Students
            -else
                h1 Manage Teachers

            div
                .column
                    -if (errors.csv_errors.length > 0)
                        .framed.error
                            p
                                each error in errors.csv_errors
                                    | #{error}
                                    br
                    textarea(
                        name='users_csv'
                        autocomplete='off'
                        rows='10'
                    ) #{previous_input.users_csv}
                    input(
                        name='save'
                        type='submit'
                        value='Save'
                    )

    script(src='/js/manage_users.js', type='text/javascript')
