extends includes/layout
//-
    A reusable message template.

    # Variables

    message.title: The message title.
    message.content: The actual message.

block content
    h1 #{message.title}
    .framed
        p #{message.content}
        br
        -if (message.redirect)
            p
                a(href=message.redirect.url) #{message.redirect.message}
