extends includes/layout

block content
    h1 Password Reset
    -if (errors.length > 0)
        .framed.error
            p
                each error in errors
                    | #{error}
                    br

    .framed
        .description
            p Login using your new credentials. This will complete the password reset progress.
            br
            p If not filled out already, copy-paste the token from the email that sent you to this page.

    form(method='post')
        .row
            .column
                input.login(
                    name='email'
                    type='text'
                    autocomplete='email'
                    placeholder='email'
                    value=previous_input.email
                    required autofocus
                )
            .column
                input.login(
                    name='new_password'
                    type='password'
                    placeholder='new password'
                    autocomplete='new-password'
                    minlength="8"
                    required
                )
        .row
            input.login(
                name='token'
                type='text'
                placeholder='token'
                value=previous_input.token
                required
            )
            input.login(
                name='password_reset'
                type='submit'
                value='Reset & Login'
            )