extends includes/layout

block content
    h1 Password Reset Request
    -if (errors.length > 0)
        .framed.error
            p
                each error in errors
                    | #{error}
                    br

    .framed
        .description
            p Forgotten your password? Fill out the form bellow. An email with a confirmation link will be sent to the provided email address.
            br
            p Your password must be at least 8 characters long.

    form(method='post')
        .row
            .column
                input.login(
                    name='new_password'
                    type='password'
                    autocomplete='new-password'
                    placeholder='new password'
                    minlength="8"
                    required autofocus
                )
            .column
                input.login(
                    name='confirm_new_password'
                    type='password'
                    autocomplete='new-password'
                    placeholder='confirm new password'
                    minlength="8"
                    required
                )
        .row
            input.login(
                name='email'
                type='text'
                autocomplete='email'
                placeholder='email'
                value=previous_input.email
                required
            )
            input.login(
                name='request_reset'
                type='submit'
                value='Request'
            )