extends includes/layout
include includes/course_banners.pug

block content
    h1 #{profile_page.target_user.name}
    -if (errors.length > 0)
        .framed.error
            p
                each error in errors
                    | #{error}
                    br

    -if (user.id === profile_page.target_user.id)
        form.row(method="POST")
            input.bad(
                name='logout_button'
                type='submit'
                value='Logout'
            )
            input.bad(
                name='prune_sessions'
                type='submit'
                value='Prune sessions'
            )

    -if (user.can_reset_password_of(profile_page.target_user.id))
        h1 Reset password
        form(method='post')
            .row
                -if (!user.can_force_reset_password)
                    .column
                        input.login(
                            name='old_password'
                            type='password'
                            placeholder='current password'
                            autocomplete='current-password'
                            required
                        )
                .column
                    input.login(
                        name='new_password'
                        type='password'
                        placeholder='new password'
                        autocomplete='new-password'
                        minlength="8"
                        required
                    )
                .column
                    input.login(
                        name='new_password_repeat'
                        type='password'
                        placeholder='repeat new password'
                        autocomplete='new-password'
                        minlength="8"
                        required
                    )
                .column
                    input.login(
                        name='password_reset'
                        type='submit'
                        value='Reset'
                    )

    - if (user.can_edit_user_info() && profile_page.target_user.id !== 1)
        h1 Edit User Information
        form(method="POST")
            .column
                input.login(
                    name='new_email'
                    type='email'
                    placeholder='new email'
                    value=profile_page.target_user.email
                    required
                )
                input.login(
                    name='new_name'
                    type='text'
                    placeholder='new name'
                    value=profile_page.target_user.name
                    required
                )
                input.login(
                        name='user_edit'
                        type='submit'
                        value='Save'
                )


    h1 My courses
    .row
        -if (profile_page.student_courses.length > 0 || profile_page.teacher_courses.length > 0)
            -if (profile_page.student_courses.length > 0)
                .column.no_expand
                    each course in profile_page.student_courses
                        +course_student(course, router)

            -if (profile_page.teacher_courses.length > 0)
                .column.no_expand
                    each course in profile_page.teacher_courses
                        +course_teacher(course, router)
        -else
            -if (user.id === profile_page.target_user.id)
                .framed You are not part of any course.
            -else
                .framed This user is not part of any course.