extends includes/layout
include includes/submission_banner.pug
include includes/assignment_banner.pug

block content
    h1 Submission history: #{submission_history.requested_user.name}
    -if (permissions.page_as_teacher)
        +assignment_banner(
            null,
            submission_history.assignment,
            submission_history.course
        )
    -else
        +assignment_banner(
            submission_history.submissions[0],
            submission_history.assignment,
            submission_history.course
        )

    -if (submission_history.submissions.length > 0)
        .latest_submissions-container
            each submission in submission_history.submissions
                +submission_banner(submission, submission_history.assignment)
    -else
        .row
            .framed
                p No submissions