extends includes/layout
include includes/submission_banner.pug

mixin test_result(test_num, inputs, expected_output, stderr, output, is_success, show_more, test_type)
    div
        .column
            div
                .row
                    h2 Test #{test_num}
                .row
                    label Inputs
                    label Output
                .row
                    .framed
                        pre #{inputs}
                    -if (is_success)
                        .framed
                            pre #{output}
                    -else
                        .framed.error
                            pre #{output}
            div
                .row
                    - let hidden_boolean = show_more ? "true" : "false"; 
                    input(
                        name="show_value"
                        type="hidden"
                        value=hidden_boolean
                    )
                    input(
                        name="test_type_" + test_type
                        type="hidden"
                        value=test_type
                    )
                    input(
                        name="expected_output"
                        type="hidden"
                        value=expected_output
                    )
                    input(
                        name="stderr"
                        type="hidden"
                        value=stderr
                    )
                    - let btn_text = show_more ? "v" : ">" ;
                    button.small(
                            name='more_info'
                            type='submit'
                            value=test_num
                        ) #{btn_text}
                    - if (show_more)
                        label Stderr
                        label Expected output
                - if (show_more)
                    .row
                        .framed
                            pre #{stderr}
                        .framed
                            pre #{expected_output}



block content
    h1 Submission Details
    +submission_banner(submission_info.submission, submission_info.assignment)

    - const pipeline_stat = submission_info.submission.pipeline_status;
    div.framed
        .table
            .cell
                p
                    span.title
                        | Submitted by: 
                    |  #{submission_info.submitter.name} &lt;#{submission_info.submitter.email}&gt;
                p
                    span.title
                        | Submitted on: 
                    |  #{submission_info.submitted_on_normalized}
                p
                    span.title
                        | Platform: 
                    a(href=router.path.platform(platform).url)
                        |  #{platform.name}
                p
                    span.title
                        | Status: 
                    |  #{pipeline_stat}
    div
        form.row(method='POST')
            -if (submission_info.delete_path)
                a.bad.button(href=submission_info.delete_path) Delete

            input(
                name='download_source'
                type='submit'
                value='Download source'
                )


    -if (pipeline_stat !== "wait" && pipeline_stat !== "prepare")

        h1 Preparation Output

        -if (!compiled)
            .framed.error preparation failed

        div
            .row
                div
                    .column
                        label Stdout
                        textarea(
                            readonly="true"
                            rows=5
                            ) #{submission_info.prepare_output.stdout}

                div
                    .column
                        label Stderr
                        textarea(
                            readonly="true"
                            rows=5
                            ) #{submission_info.prepare_output.stderr}

        -if (compiled)

            form.column(method="POST")

                -if (example_tests_results.length > 0)
                    h1 Examples (#{submission_info.submission.successful_example_test_count}/#{submission_info.assignment.example_test_count} correct)
                    -for (let index = 0; index < example_tests_results.length; index += 1)
                        - const { test, result, show } = example_tests_results[index];
                        +test_result(index + 1, test.input, test.output, result.stderr, result.stdout, result.is_success, show, "example")
                        <hr>
                    

            form.column(method="POST")

                -if (can_see_finals && final_tests_results.length > 0)

                    - const finals_succeeded = final_tests_results.filter(({result}) => result.is_success);
                    h1 Finals (#{submission_info.submission.successful_final_test_count}/#{submission_info.assignment.final_test_count} correct)
                    -for (let index = 0; index < final_tests_results.length; index += 1)
                        - const { test, result, show } = final_tests_results[index];
                        +test_result(index + 1, test.input, test.output, result.stderr, result.stdout, result.is_success, show, "final")
                        hr
                    

    script(src='/js/collapse_and_extend_tests.js', type='text/javascript')