extends includes/layout

block content

    h1 Super panel
    .column
        h2 Users
        .row
            a.button(href=router.path.super_add_users().url) Add new users
            a.button(href=router.path.super_find_users().url) Find users
            a.button(href=router.path.super_delete_users().url) Delete users

        h2 Courses
        .row
            a.button(href=router.path.super_add_course().url) Add new course
            a.button(href=router.path.super_all_courses().url) All courses

        h2 Platforms
        .row
            a.button(href=router.path.super_add_platform().url) Add new platform
            a.button(href=router.path.platform_list().url) All platforms