extends ./includes/layout

//-
    A page to validate a given form post.

block content
    h1 #{page_title}
    div
        form.column(method='post')
            .framed
                p #{message}
                
            input(
                name='validated_data'
                type='hidden'
                value=validated_data
            )
            input(
                name='validate_submit'
                type='submit'
                value=submit_text
            )
