extends ../includes/layout

//-
    A page to validate a new course added.

    # Variables

    add_course_validate.title: Title of a course.

block content
    h1 Add Course
    div
        form.column(method='post')
            .framed
                p Are you sure you want to add the course '#{add_course_validate.title}'?
                
            input(
                name='validated_data'
                type='hidden'
                value=add_course_validate.title
            )
            input(
                name='validate_course'
                type='submit'
                value='Add course'
            )
