extends ../includes/layout

//-
    A page to add new users.

    # Variables

    add_users.previous_input: A string representing previous user input.
    add_users.parse_errors: An array of strings representing parse errors.


block content
    h1 Add Users
    div
        form.column(method='post')
            .framed
                p
                    | Users are added using comma-separated values (csv). Put one user per line. Every line has a name, followed by a comma, followed by an email address.
                p
                    | For example, to add the users John Doe and Jane Roe, fill in:
                pre
                    | John Doe, john.doe@example.org
                    | Jane Roe, jane.roe@example.org

            -if (add_users.parse_errors.length > 0)
                .framed.error
                    p
                        each error in add_users.parse_errors
                            | #{error}
                            br

            textarea(
                name='users'
                autocomplete='off'
                wrap='off'
                rows='10'
                spellcheck='false'
                placeholder='Type in new users here.'
                autofocus
                required
            )
                | #{add_users.previous_input}
            input(
                name='add_users'
                type='submit'
                value='Add users'
            )
