extends ../includes/layout

//-
    A page to validate new users added/deleted.

    # Variables

    add_users_validate.users: An array of users.
    add_users_validate.users[].name: The name of a user.
    add_users_validate.users[].mail: The email of a user.

block content
    h1 Add Users
    div
        form.column(method='post')
            .framed
                if add_users_validate.users.length === 1
                    p Are you sure you want to add the following user?
                else
                    p Are you sure you want to add the following #{add_users_validate.users.length} users?
            div
                .table
                    each user in add_users_validate.users
                        .cell
                            | #{user.name}
                            br
                            | #{user.mail}
            //-
                In theory the superuser could change this JSON here to add different users to the
                platform. There is no incentive to do so though, and they could just as well have
                done this on the previous page.
            input(
                name='validated_data'
                type='hidden'
                value=add_users_validate.users
            )
            input(
                name='add_users'
                type='submit'
                value='Add users'
            )
