extends ../includes/layout

block content

  h1 Add course

  .framed
    p
      | Provide the new course's name in the textbox below.

  form.row(method='post')
    input(
      name='add_course'
      type='text'
      placeholder='name'
      required autofocus
    )
    input(
        name='add'
        type='submit'
        value='Add'
    )
