extends ../includes/layout

block content
    h1 All Courses
    -if (user.can_add_course)
        div
            .row
                a.button(href=router.path.super_add_course().url) Add new course
    div
        .framed
            p
                | Click on a course below to go to that course's page.

            -if (page.courses.length > 0)
                ul
                    each course in page.courses
                        li
                            a(href=router.path.course(course).url) #{course.name}-#{course.id}
            -else
                p No courses exist.
