extends ../includes/layout

//-
    A page to validate deletion of users.

    # Variables

    delete_users_validate.users: An array of users.
    delete_users_validate.users[].name: The name of a user.
    delete_users_validate.users[].mail: The email of a user.

block content
    h1 Delete Users
    div
        form.column(method='post')
            .framed
                if delete_users_validate.users.length === 1
                    p Are you sure you want to delete the following user?
                else
                    p Are you sure you want to delete the following #{delete_users_validate.users.length} users?
            div
                .table
                    each user in delete_users_validate.users
                        .cell
                            | #{user.name}
                            br
                            | #{user.email}
            //-
                In theory the superuser could change this JSON here to add different users to the
                platform. There is no incentive to do so though, and they could just as well have
                done this on the previous page.
            input(
                name='validated_data'
                type='hidden'
                value=delete_users_validate.users
            )
            input(
                name='delete_users'
                type='submit'
                value='Delete users'
            )
