extends ../includes/layout
include ../includes/show_errors.pug

block content

    h1 Delete Users
    div
        form(method='POST')
            .row
                .framed
                    p
                        | Users are deleted using the textarea below. Put one user per line, where each line contains the email of the user to delete.
                        | Using the search bar, you can quickly filter through users and add them to the textarea.
                    p
                        | For example, to delete the users with email john.doe@example.org and jane.roe@example.org, fill in:
                    pre
                        | john.doe@example.org
                        | jane.roe@example.org


            -if (errors.validation_errors.length > 0)
                .framed.error
                    p
                        each error in errors.validation_errors
                            | #{error}
                            br

            #search_bar
                .row
                    input(
                        name='search_input'
                        type='text'
                        value=previous_input.search_input
                        placeholder= 'user name'
                    )
                    input(
                        name='search_btn'
                        type='submit'
                        value='Search'
                    )

            -if (previous_input.search_input !== "")

                h1 Results (#{results.length})

                -if (results.length === 0)
                    .framed No users found.

                div
                    .column
                        each result, index in results
                            div
                                .row
                                    .framed.most #{result.name} &lt;#{result.email}&gt;
                                    button.least.min_width_off(
                                        name='add_btn'
                                        type='submit'
                                        value=result.id
                                    ) Add

            div
                .column
                    -if (errors.csv_errors.length > 0)
                        .framed.error
                            p
                                each error in errors.csv_errors
                                    | #{error}
                                    br
                    textarea(
                        name='users_csv'
                        autocomplete='off'
                        rows='10'
                    ) #{previous_input.users_csv}
                    input(
                        name='save'
                        type='submit'
                        value='Delete Users'
                    )

    script(src='/js/manage_users.js', type='text/javascript')
