extends ../includes/layout
include ../includes/show_errors.pug

block content

    h1 Find Users

    +show_errors(find_users.errors)

    div
        form.row(method='POST')
            input(
                name='search_input'
                type='text'
                value=find_users.previous_query
                placeholder= 'name or email'
                minlength=1
                maxlength=100
                required
            )
            input(
                name='search_btn'
                type='submit'
                value='Search'
            )

    if find_users.found_users.length > 0
        .framed
            | Found #{find_users.found_users.length} users.
            ul
                each user in find_users.found_users
                    li
                        a(href=router.path.profile_page(user).url) #{user.name} &lt;#{user.email}&gt;
                        br
    
    script(src='/js/manage_users.js', type='text/javascript')