//- Expects a SubmissionView, SimpleAssignmentView and Course
mixin assignment_banner(submission, assignment, course)

    - const deadline = utils.date_to_strings(assignment.deadline);
    .assignment
        //- TODO pass permission as var (pug doesn't support promises)
        if user.see_assignment_as_teacher(course.id)
            a(href=assignment.overview_path.url).assignment-date.default-test
                +assignment_deadline(deadline)
            +assignment_inner("", course, assignment)

        else if !submission.pipeline_status
            a(href=assignment.overview_path.url).assignment-date.no-test
                +assignment_deadline(deadline)
            +assignment_inner("no submission", course, assignment)

        else if submission.pipeline_status === 'wait'
            a(href=assignment.overview_path.url).assignment-date.pending-test
                +assignment_deadline(deadline)
            +assignment_inner("waiting for testing", course, assignment)

        else if submission.pipeline_status === 'prepare'
            a(href=assignment.overview_path.url).assignment-date.pending-test
                +assignment_deadline(deadline)
            +assignment_inner("preparing testing", course, assignment)

        else if submission.pipeline_status === 'example'
            a(href=assignment.overview_path.url).assignment-date.pending-test
                +assignment_deadline(deadline)
            +assignment_inner("testing examples", course, assignment)

        else if submission.pipeline_status === 'notify'
            a(href=assignment.overview_path.url).assignment-date.pending-test
                +assignment_deadline(deadline)
            +assignment_inner("notifying student", course, assignment)

        else if submission.pipeline_status === 'done' || submission.pipeline_status === 'final'
            if !submission.submission.is_prepare_success
                a(href=assignment.overview_path.url).assignment-date.failed-test
                    +assignment_deadline(deadline)
                +assignment_inner("preparation failed", course, assignment)

            else if submission.successful_example_test_count === assignment.example_test_count
                a(href=assignment.overview_path.url).assignment-date.passed-test
                    +assignment_deadline(deadline)
                +assignment_inner("all examples passed", course, assignment)

            else if submission.successful_example_test_count !== assignment.example_test_count
                a(href=assignment.overview_path.url).assignment-date.failed-test
                    +assignment_deadline(deadline)
                +assignment_inner("some examples failed", course, assignment)

mixin assignment_deadline(deadline)
    | #{deadline.utc_day}
    br
    | #{deadline.utc_month}

mixin assignment_inner(status, course, assignment)
    .assignment-info
        .column
            .assignment
                a(href=assignment.overview_path.url) #{assignment.name}
            .course-state-container
                .course
                    a(href=router.path.course(course).url) #{course.name}
                .status #{status}