mixin course_teacher(course, router)
    .framed
        .row
            img(src='/teacher.png' alt='teacher of course')
            a.course(href=router.path.course(course).url) #{course.name}-#{course.id}

mixin course_student(course, router)
    .framed
        .row
            img(src='/student.png' alt='student of course')
            a.course(href=router.path.course(course).url) #{course.name}-#{course.id}
