//-
    A reusable header template.

    # Variables

    header.title: The page title.

head
    title #{header.title}
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(href='/style.css' rel='stylesheet')
    link(href='/github.css' rel='stylesheet')