//- Do a few assertions on variables that are required on every page.
- console.assert(utils, "Template must be supplied a utils variable.");
- console.assert(router, "Template must be supplied a router variable.");

doctype html

html(lang='en')
    include head.pug
    body
        include navigation.pug
        #main-content.content
            block content
