//-
    A reusable header template.

    # Variables

    header.title: The page title.
#header-bar
    .content
        a(href=router.path.dashboard().url) CODE:SUB
#navigation-bar
    .content
        .inner-content
            .navigation
                | /
                - for(subpath of navigation.page_stack.subpaths())
                    | 
                    if (subpath.is_real)
                        a(href=subpath.url) #{subpath.name}
                    else
                        | #{subpath.name}
                    | 
                    | /
            .login-status
                if user
                    | Logged in as 
                    a(href = router.path.profile_page(user).url) #{user.name}
                    | .
                else
                    | Not logged in.