mixin submission_seen_by_teacher(student, assignment, submission, history_path)
    .assignment
            .submissions_seen_by_teacher_div
                if !submission
                    .assignment-date_mini.no-test
                    .framed.name
                       | #{student.name}
                    .framed.status no submission
                    .framed.result 0 / #{assignment.final_test_count}

                else if submission.pipeline_status === 'wait'
                    a(href=submission.details_path.url).assignment-date_mini.pending-test
                    .framed.name
                       | #{student.name}
                    .framed.status waiting for testing
                    .framed.result pending

                else if submission.pipeline_status === 'prepare'
                    a(href=submission.details_path.url).assignment-date_mini.pending-test
                    .framed.name
                       | #{student.name}
                    .framed.status preparing testing
                    .framed.result pending

                else if submission.pipeline_status === 'example'
                    a(href=submission.details_path.url).assignment-date_mini.pending-test
                    .framed.name
                       | #{student.name}
                    .framed.status testing examples
                    .framed.result pending

                else if submission.pipeline_status === 'notify'
                    a(href=submission.details_path.url).assignment-date_mini.pending-test
                    .framed.name
                       | #{student.name}
                    .framed.status notifying student
                    .framed.result pending

                else if submission.pipeline_status === 'final'
                    a(href=submission.details_path.url).assignment-date_mini.pending-test
                    .framed.name
                       | #{student.name}
                    .framed.status testing final tests
                    .framed.result pending

                else if submission.pipeline_status === 'done'
                    if !submission.is_prepare_success
                        a(href=submission.details_path.url).assignment-date_mini.failed-test
                        .framed.name
                           | #{student.name}
                        .framed.status preparation failed
                        .framed.result #{submission.successful_final_test_count} / #{assignment.final_test_count}

                    else if submission.successful_final_test_count === assignment.final_test_count
                        a(href=submission.details_path.url).assignment-date_mini.passed-test
                        .framed.name
                           | #{student.name}
                        .framed.status all final tests passed
                        .framed.result #{submission.successful_final_test_count} / #{assignment.final_test_count}

                    else if submission.successful_final_test_count !== assignment.final_test_count
                        a(href=submission.details_path.url).assignment-date_mini.failed-test
                        .framed.name
                            | #{student.name}
                        .framed.status some final tests failed
                        .framed.result #{submission.successful_final_test_count} / #{assignment.final_test_count}

                .history_button
                    a(href=history_path.url)
                        img(src='/clock.png' alt='submission history')
