mixin submission_banner(submission, assignment)
    .assignment
        if !submission.pipeline_status
            a(href=submission.details_path.url).assignment-date_small.no-test
            +submission_banner_content("no submission", submission, assignment)

        else if submission.pipeline_status === 'wait'
            a(href=submission.details_path.url).assignment-date_small.pending-test
            +submission_banner_content("waiting for testing", submission, assignment)

        else if submission.pipeline_status === 'prepare'
            a(href=submission.details_path.url).assignment-date_small.pending-test
            +submission_banner_content("preparing testing", submission, assignment)

        else if submission.pipeline_status === 'example'
            a(href=submission.details_path.url).assignment-date_small.pending-test
            +submission_banner_content("testing examples", submission, assignment)

        else if submission.pipeline_status === 'notify'
            a(href=submission.details_path.url).assignment-date_small.pending-test
            +submission_banner_content("notifying student", submission, assignment)

        else if submission.pipeline_status === 'done' || submission.pipeline_status === 'final'
            if !submission.is_prepare_success
                a(href=submission.details_path.url).assignment-date_small.failed-test
                +submission_banner_content("preparation failed", submission, assignment)

            else if submission.successful_example_test_count === assignment.example_test_count
                a(href=submission.details_path.url).assignment-date_small.passed-test
                +submission_banner_content("all examples passed", submission, assignment)

            else if submission.successful_example_test_count !== assignment.example_test_count
                a(href=submission.details_path.url).assignment-date_small.failed-test
                +submission_banner_content("some examples failed", submission, assignment)

mixin submission_banner_content(status, submission, assignment)
    .assignment-info_small
        .row
            .assignment
                a(href=submission.details_path.url) #{assignment.name}
            .course-state-container
                .state #{status}
